#canvas-plus #tabs-courses {
    position: sticky;
    top: 0;
    display: flex;

    width: 100%;

    border-bottom: 1px solid #C7CDD1;

    background: white;
    z-index: 1000;
}

.primary-nav-expanded #tabs-courses {
    width: calc(100% - 84px) !important;
}

#canvas-plus .tabs-course {
    display: inline-block;
    flex: 1;
    line-height: 48px;
    padding: 6px 8px 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none !important;

    /*background: #ccc;*/
    border-radius: 2px 2px 0 0;

    transition: all 200ms;
}

#canvas-plus .tabs-course:not(:first-child):not(:nth-last-child(2)) {
    border-left: 1px solid #C7CDD1;
}

#canvas-plus .tabs-course:hover {
    background: rgba(0, 0, 0, 0.04);
}

#canvas-plus .tabs-course.selected {
    background: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid white;
}

#canvas-plus .tabs-dropdown-button {
    flex: 0 1 40px;
    cursor: pointer;
    max-width: 24px; /* i do not know why this works but it works */
    text-align: center;
}

#canvas-plus .tabs-dropdown {
    display: block;
    position: absolute;
    top: 55px;
    right: 0;
    opacity: 0;


    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 4px;

    z-index: 100;
    pointer-events: none;
}

#canvas-plus .tabs-dropdown.active {
    opacity: 1;
    pointer-events: auto;
}

#canvas-plus .tabs-dropdown a {
    display: block;
    padding: 8px 12px;
    border-radius: 4px;

    transition: background 200ms;
}

#canvas-plus .tabs-dropdown a:hover {
    background: rgba(0, 0, 0, 0.1);
}

/*#canvas-plus .tabs-dropdown a:not(:last-child) {*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*}*/

/* hide the courses button on the sidebar */
#canvas-plus .tabs-enabled #menu li:nth-child(3) {
    display: none;
}

@media only screen and (max-width: 768px) {
    #canvas-plus #tabs-courses {
        display: none;
    }
}