.canvas-plus-message {
    display: block;
    position: fixed;
    bottom: 16px;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 260px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 12px;
    border-radius: 4px;
    font-size: 90%;
    z-index: 1000000;
}

.canvas-plus-message a {
    color: white;
    cursor: pointer;
}

.canvas-plus-message a:hover {
    color: white;
}

.ic-Layout-wrapper {
    max-width: initial !important;
}

@media (max-width: 768px) {
    #left-side, #header, .ic-app-nav-toggle-and-crumbs {
        display: none !important;
    }
}