#top-bar-courses {
    display: flex;

    height: 48px;
    width: 100%;

    border-bottom: 1px solid #ccc;
}

.top-bar-course {
    display: inline-block;
    flex: 1;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    margin: 8px 2px 0;
    white-space: nowrap;
    overflow: hidden;

    background: #ccc;
    border-radius: 2px 2px 0 0;

    transition: all 200ms;
}

.top-bar-course:hover {
    background: #ddd;
}

.top-bar-course.selected {
    background: #eee;
    border-bottom: 1px solid white;
}

/* hide the courses button on the sidebar */
#menu li:nth-child(3) {
    display: none;
}

@media only screen and (max-width: 768px) {
    #top-bar-courses {
        display: none;
    }
}

/* dashboard */
.ic-dashboard-app {
    margin-top: 0 !important;
}

#grades-title {
    margin: 0 0 16px;
    height: 72px;
    line-height: 72px;
    border-bottom: 1px solid #C7CDD1;
}

.course_details {
    border-collapse: collapse;
    min-width: 400px;
    margin-left: 20px;
    border-spacing: 0;
}

.course_details .course {
    font-size: 1.2em;
    padding: 6px 50px 6px 5px;
}

.course_details .percent {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    min-width: 73px;
}

.course_details td {
    border-bottom: 1px solid #ccc;
}

.ic-DashboardCard {
    position: relative;
}

.ic-DashboardCard .grade-tag {
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 8px;
    color: white;
    font-size: 80%;
    padding: 8px;
    background: rgba(0,0,0,0.5);
}