@media only screen and (min-width: 1200px) {
    p, span {
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 992px) {
    p, span {
        font-size: 14.5px !important;
    }
}

@media only screen and (min-width: 0) {
    p, span {
        font-size: 14px !important;
    }
}